.footer{
    margin: 15px auto;
    padding: 5px 0;
    text-align: center;
}

.footer img{
    width: 150px;
    padding: 15px 0;
}

.footer ul li{
    list-style: none;
    display: flex;
    justify-content: center;
}